#Home body {
    margin: 0;
    padding: 0;
    background-image: url("./img/Background.png");
    background-size:cover;
    background-repeat: no-repeat;
} 


#Home h1 {
    position:relative;
    margin-left:100px;
    margin-top:350px;
    font-size: 50px;
    color: white;
}

#Home a {
    position: relative;
    text-align: center;
    margin-top:40px;
    margin-left: 250px;
    margin-right: 1050px;
    padding: 10px;
    font-size: 40px;
    display: block;
    background-color: gainsboro;
    color: black;
    border-radius: 30px;
}

#Home a:hover {
    background-color: black;
    color: white;
}

#FileInput body{
    margin: 0;
    padding: 0;
    background-image: url("./img/Background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#FileInput h1 {
    position: relative;
    margin-left: 100px;
    margin-top: 350px;
    font-size: 50px;
    color: white;
}

#FileInput form {
    margin: 20px;
}

#FileInput label {
    margin-left: 130px;
    position: relative;
    font-size: 35px;
    color: black;
}
#FileInput input {
    margin-bottom:10px;
    margin-left:50px;
}

#FileInput button {
    margin-left:10px;
}


#FileInput nav {
    margin-top: 20px;
    margin-left: 350px;
}
#FileInput a {
    position: relative;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    color: black;
}
#FileInput a:hover {
    color: rgb(101, 85, 172);
}

#Reports 
{
 overflow: hidden;
}
 
#Reports , #Reports body, #Reports div, #Reports iframe 
{
 margin: 0px; 
 padding: 0px; 
 height: 100%; 
 border: none;
}


#Reports fieldset {
    background-color: whitesmoke;
    border: none;
    border-radius: 10px;
    margin-left: 300px;
    margin-right: 200px;
    margin-bottom: 10px;
    font-size: medium;
}

#Reports label {
    background: none;
    border: none;
    color: black;
    margin-left: 10px;
    margin-right: 10px;

}

#Reports input {
    background: none;
    border: none;
    color: black;
}

#Reports #B {
    width: 80%;
    float: right;
    height: 700px;
}

#Reports a{
    display:block;
}