# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/water_project/node_modules
/water_project/.pnp
.pnp.js

# testing
/water_project/coverage

# production
/water_project/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
